.navbar {
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: rgb(1, 1, 101);
}

.nav-container {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
}

.nav-logo {
  font-size: 20px;
  font-weight: 500;
}

.nav-button {
  border: none;
  padding: 6px;
  margin-left: 10px;
  cursor: pointer;
  color: rgb(27, 27, 164);
  font-weight: 400;
}

@media only screen and (max-width: 1054px) {
  .navbar {
    padding: 7px;
  }
}
